<div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div  class="messageLog" id="messageLogs"></div>
            </div>
        </div>
       
      
        <div class="fixed-bottom text-area">
            <div class="row m-3">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Escribe un mensaje..." name="message" id="chatBox"/>
                        <button class=" input-group-text btn btn-secondary" id="sendBtn"><i class="bi bi-send-fill"></i></button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
       {{!--  <div class="chat-input-container">
            
            
        </div> --}}

    
    
</div>